$green:#01CC9B;
$gray:#9B9B9B;
$black:#000000;
$gray_lt:#F6F6F6;
$gray_heading:#333333;
$blue:#4A90E2;
$dark_blue:#112233;
$green_lt:#EBF4FF;
$gray_subHeading:#767376;
$gray_caption:#595959;
$label:#9E9E9E;
$list_border:#F2F2F2;
$font_list:#4A4A4A;
