$color_active:rgba(34, 34, 34, 0.8);
$color_deactive:rgba(141, 141, 141, 0.61);
$green:#19b491;
$border__color:rgba(160, 160, 160, 0.25098039215686274);


@mixin borderbottom(){
  border-bottom:1px solid $border__color;
}


@mixin borderleft(){
  border-left:1px solid $border__color;
}
