@import 'colors';
.leftNavBar{
  width:80px;
  height: 100vh;
  background: $dark_blue;
  display: inline-block;
  .logo{
    padding-top: 24px;
    &--img{
      width:33.8px;
      height:33.8px;
      display: block;
      margin:0 auto;
    }
  }
  .nav{
    &__container{
      margin-top: 50px;
    }
    &__list{
      list-style: none;
      margin:0px;
      padding: 0px;
      &--item{
        &:hover,&.active{
          background: $black;
        }
        &--icon {
          margin: 0 auto;
          width: 23px;
          padding: 23px;
          display: block;
        }
      }
    }
  }
}
