@font-face {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/l/font?kit=RWmIoKuX9vIkqNeNELieQ4SjwM1wzs8&skey=a8a8f8aee29deec0&v=v4) format('woff2');
}
@mixin font_Arial(){
	font-family: 'Arial', sans-serif;
}
body{
	padding: 0px;
	margin: 0px;
	@include font_Arial();
	.ver-algn-middle{
		vertical-align: middle!important;
	}
	.horizontal--list{
		display: flex;
		width: 100%;
		margin: 0;
		padding: 0;
		li{
			display: block;
			flex: 0 1 auto;
			list-style-type: none;
		}
	}
}


.truncate {
	width: 50vw;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	&.txt--sm{
		width: 80%;
	}
}
